ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
}

a {
  color: rgb(196, 122, 122);
  text-decoration: solid;
}
