@font-face {
  font-family: tostada;
  src: url("fonts/tostada/TOSTADA.ttf");
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #ff726d;
  font-family: tostada, sans-serif;
}

/* Style for header */
header {
  background-color: #3e3a36;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 30vh;
	font-size: calc(10px + 2vmin);
}

/* Style for navigation */
nav ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

nav li {
  margin: 0 1rem;
  margin-bottom: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.burger {
  display: none;
}

.socialIcons {
  display: flex;
  min-height: 20px;
  min-width: 50%;
  justify-content: space-between;
  align-items: center;
}

.socialIcons a {
  text-decoration: solid;
  color: white;

}

@media screen and (max-width: 768px) {
  /* Style for small screens */
  header {
    display:grid;
    position: fixed;
    width: 100%;
    height: 15vh;
    z-index: 2;
    top: 0;
    transition: height 0.5s;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0rem;
    left: 0;
    font-size: 2rem;
		line-height: 3rem;

    opacity: 0%;
    width: 0;
    height: 0;
    transition: opacity 1s;
  }

  nav a {
    opacity: 0%;
  }

  .burger {
    display: flex;
    align-items: left;
    margin-top: 1rem;
    position: absolute;
    top: 1vh;
    left: 2vh;
  }

  


  header.active {
    height: 100vh;
  }

  header.active h1 {
    position: absolute;
    bottom: 3vh;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0
  }


	nav.active ul {
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
		
    opacity: 90%;
  }

  nav.active a {
    opacity: 90%;
  }

  .socialIcons {
    width: 80%;
    margin-left: 7%;
  }

  .socialIconsActive {
    display: none;
  }
}
