.news {
  list-style: none;
  padding: 0  ;
}

.newsContainer {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border-style: dashed;  
  border-color: brown;
  min-height: auto;
}

.newsTitle {
  width: 65%;
  font-size: 24px;
  font-weight: bold;
  float: left;
  margin: 5px;
  text-align: left;
}

a {
  color: pink
}

p { 
  font-size: 18px;
}

.newsDate {
  float: right;
  width: 30%;
  text-align: right;
  list-style: none;
  margin: 5px;
}

.newsContent {
  clear: left;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
}

.newsText {
  margin: 5px;
  text-align: left;
}

.newsPhoto {
  max-width: 80%;
  max-height: 250px;
  text-align: right;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .newsContent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .newsTitle {
    width: 90%;
  }
}

